<a href="https://colab.research.google.com/github/omkarjadhav056/omkar_jadhav/blob/main/cs3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [ ]:
 df = pd.read_csv('iris_csv.csv')
df.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
df.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.describe()

In [ ]:
df.shape()

In [ ]:
df.isna()

In [ ]:
df.corr()

In [ ]:
sepal_length = df.sepal_length.values[:,np.newaxis]
sepal_width = df.sepal_width.values

In [ ]:
lr1 = lm.LinearRegression()
lr1.fit(sepal_length,sepal_width)

In [ ]:
lr1.coef_

In [ ]:
lr1.intercept_

In [ ]:
petal_length = df.petal_length.values[:,np.newaxis]
petal_width = df.petal_width.values

In [ ]:
lr2 = lm.LinearRegression()
lr2.fit(petal_length,petal_width)

In [ ]:
lr2.coef_

In [ ]:
lr2.intercept_

In [ ]:
df_setosa = df[df['species'] == 'setosa']
lr_setosa = LinearRegression()
lr_setosa.fit(df_setosa[['sepal_length']], df_setosa['sepal_width'], df_setosa['petal_length'])
print(lr_setosa.intercept_)
print(lr_setosa.coef_)

In [ ]:
df_virginica = df[df['species'] == 'virginica']
lr_virginica = LinearRegression()
lr_virginica.fit(df_virginica[['sepal_length']], df_virginica['sepal_width'], df_virginica['petal_length'])
print(lr_virginica.intercept_)
print(lr_virginica.coef_)

In [ ]:
df_versicolor = df[df['species'] == 'versicolor']
lr_versicolor = LinearRegression()
lr_versicolor.fit(df_virginica[['sepal_length']], df_versicolor['sepal_width'], df_versicolor['petal_length'])
print(lr_versicolor.intercept_)
print(lr_versicolor.coef_)